DATABASE_URL=sqlite:///./fivegoodones.db
COMPANIES_FILE=config/companies.txt
OLLAMA_BASE_URL=http://localhost:11434
BACKBOARD_API_KEY=
BACKBOARD_BASE_URL=https://api.backboard.io
# You can change it to any model 
BACKBOARD_MODEL=llama-3.1-8b-instruct 
